*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body>header{    /* Filho direto */
    width: 100%;
    height: 60px;
    background: #0C0F11;
    display: flex;
    gap: 25px;
    align-items: center;
    padding-left: 18%;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logotipo img{
    height: 50px;
}

.menu a:link, .menu a:visited{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.banner img{
    width: 100%;
}

.nossosJogos{
    background-image: url('../img/bg-nossos-jogos.jpg');
    padding: 50px;
    text-align: center;
    align-items: center;
}

.artigos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 50px;
    flex-wrap: wrap ;
}

.artigos article{
    width: 300px;
    background: white;
    height: 400px;
}

.artigos article h2{
    padding: 15px;
}
.artigos article p{
    padding : 20px;
}
.artigos article a{
    color: #EA3601;
    text-decoration: none;
}

footer{
    background: #000000E6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
